<div id="comments">
  <% if @comments.length > 0 %>
    <b>2 comments:</b>
    <% for comment in @comments %>
      <div class="comment">
        <%= comment.content %><br>
    		by <strong><%= mail_to comment.email, comment.name, :encode => "javascript" %></strong>
    	  <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      </div>
    <% end %>
  <% else %>
    <b>No comments yet!</b>
  <% end %>
</div>
<!-- change to file -->
